

body{
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: rgb(25,25,25)
    
}

.head1{
    font-size: 30px;
    color: white;
    background-color: rgb(25,25,25);
}
#danger{
    color: red;
}
.kutlwanong{
    margin-top: -600px;
}
.ls , .hx{
    margin-top: -600px;
}